/* Original Bootstrap's CSS depends on empty href attributes to style cursors for several components */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* Aux colors */
.msg-error { background-color: #d2322d; }
.msg-wait { background-color: #428bca; }
.msg-notify { background-color: #eeeeee; }
.msg-confirm { background-color: #333333; }

/* Custom dialog/modal headers */
.dialog-header-error { background-color: #d2322d; }
.dialog-header-wait { background-color: #428bca; }
.dialog-header-notify { background-color: #eeeeee; }
.dialog-header-confirm { background-color: #333333; }
.dialog-header-error span, .dialog-header-error h4,
.dialog-header-wait span, .dialog-header-wait h4,
.dialog-header-confirm span, .dialog-header-confirm h4 { color: #ffffff; }

/* btn-circle*/
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-md {
  width: 35px;
  height: 35px;
  padding: 5px 7px;
  font-size: 20px;
  line-height: 1.0;
  border-radius: 20px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

/* icones para notify.js */
/* caracteres : http://fontawesome.io/cheatsheet */
.notifyjs-bootstrap-error::before {
  font-family: FontAwesome;
  content: "\f057";
  color: #B94A48;
}
.notifyjs-bootstrap-success::before {
  font-family: FontAwesome;
  content: "\f058";
  color: #468847;
}
.notifyjs-bootstrap-info::before {
  font-family: FontAwesome;
  content: "\f05a";
  color: #3A87AD;
}
.notifyjs-bootstrap-warn::before {
  font-family: FontAwesome;
  content: "\f071";
  color: #C09853;
}

/* Styling for the ngProgress */
#ngProgress {
    margin: 0;
    padding: 0;
    z-index: 99998;
    background-color: green;
    color: green;
    box-shadow: 0 0 10px 0; /* Inherits the font color */
    height: 2px;
    opacity: 0;

    /* Add CSS3 styles for transition smoothing */
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/* Styling for the ngProgress-container */
#ngProgress-container {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}

/* classes emprestadas do dashboard */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}


/***********
	UTIL
************/
.truncate{
	max-width: 65%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
}
table tr td.td-align-middle{
	vertical-align: middle;
}

/* shell json-container*/
.json-container {
  background-color:snow;
	font-family: monospace;
}
.item {
	margin-left:15px;
	border-left: 1px solid #d7d7d7;
}
.json-key {
  color: red;
}
.json-value {
  color: blue;
}
.json-string {
  color: olive;
  }
