<div class="col-xs-12">
	<ng-form name="plxForm" class="form-horizontal" role="form">
		<div class="form-group">
			<label class="col-sm-3 control-label">start</label>
			<span class="col-sm-4 col-xs-6">
				<button type="button" class="btn btn-success w100"
					ng-click="onStart()">
					<b><i class="fa fa-play"></i></b> start
				</button>
			</span>
			<span class="col-sm-4 col-xs-6">
				<button type="button" class="btn btn-success w100"
					ng-click="onStop()">
					<b><i class="fa fa-stop"></i></b> stop
				</button>
			</span>
		</div>
	</ng-form>

	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Data</th>
				<th>Currency</th>
				<th>last</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="item in music.list">
				<td>{{item.date | date:'dd/MM/yyyy hh:mm'}}</td>
				<td>{{item.singer}}</td>
				<td>{{item.song}}</td>
			</tr>
	</table>

</div>