<div class="col-xs-12">
	<ng-form name="plxForm" class="form-horizontal" role="form">
		<div class="form-group">
			<label class="col-xs-1 control-label">ticker</label>
			<span class="col-xs-1">
				<button type="button" class="btn btn-success w100"
					ng-click="onStart()">
					<b><i class="fa fa-play"></i></b> start
				</button>
			</span>
			<span class="col-xs-1">
				<button type="button" class="btn btn-success w100"
					ng-click="onStop()">
					<b><i class="fa fa-stop"></i></b> stop
				</button>
			</span>
			<label class="col-xs-3 control-label">last low/high 24hlow/high</label>
			<span class="badge">{{tick.last}}</span>
			<span class="badge">{{tick.lowestAsk}}</span>
			<span class="badge">{{tick.highestBid}}</span>
			<span class="badge">{{tick.low24hr}}</span>
			<span class="badge">{{tick.high24hr}}</span>
		</div>
	</ng-form>

	<div id="chartContainer1" style="width:100%; height:400px;"></div>

	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Data</th>
				<th>last</th>
				<th>lowestAsk</th>
				<th>highestBid</th>
				<th>low24hr</th>
				<th>high24hr</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="item in usbc | orderBy: '-date' | limitTo:10">
				<td>{{item.date | date:'dd/MM/yyyy hh:mm:ss'}}</td>
				<td>{{item.last}}</td>
				<td>{{item.lowestAsk}}</td>
				<td>{{item.lowestAsk}}</td>
				<td>{{item.low24hr}}</td>
				<td>{{item.high24hr}}</td>
			</tr>
	</table>

</div>