<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()">&times;</button>
	<h4 class="modal-title">
		<i class="fa fa-star"></i> Contato
	</h4>
</div>
<div class="modal-body">
	<ng-form name="contactDialog" role="form">
		<div ng-class="contactDialog.inputEmail3.$dirty && contactDialog.inputEmail3.$invalid ? 'form-group has-error' : 'form-group'">
			<label for="inputEmail3" class="control-label">Email</label>
			<div>
				<input type="email" ng-model="user.emailAddr"
					id="inputEmail3" name="inputEmail3" class="form-control"
					data-ng-pattern="regexEmail" required
					placeholder="Email" maxlength="255">
			</div>
		</div>
		<div ng-class="contactDialog.message.$dirty && contactDialog.message.$invalid ? 'form-group has-error' : 'form-group'">
			<label for="message" class="control-label">Mensagem</label>
			<div>
			    <textarea rows="5" ng-model="user.message" class="form-control noresize" id="message"
					name="message" placeholder="Mensagem" ng-minlength="3" maxlength="5000"></textarea>
			</div>
		</div>
	</ng-form>

</div>
<div class="modal-footer">
	<span class="pull-right">
		<button type="button" class="btn btn-default" ng-click="cancel()">Cancela</button>
		<button type="button" class="btn btn-primary" ng-click="onOk()"> OK </button>
	</span>
</div>
