<div class="modal-header">
	<h4 class="modal-title">
		<i class="fa fa-star"></i> <span>Sessão expirada</span>
	</h4>
</div>
<div class="modal-body">
	<ng-form name="nameDialog" class="form-horizontal" role="form">
		<div ng-class="nameDialog.inputEmail1.$dirty && nameDialog.inputEmail1.$invalid ? 'form-group has-error' : 'form-group'">
			<label for="inputEmail1" class="col-sm-2 control-label">Email</label>
			<div class="col-sm-10">
				<input type="email" ng-model="user.name" ng-keyup="hitEnterUser($event);"
					id="inputEmail1" name="inputEmail1" class="form-control"
					data-ng-pattern="regexEmail"
					placeholder="Email" maxlength="255">
					<!-- class="form-control" -->
			</div>
		</div>
		<div ng-class="nameDialog.inputPassword1.$dirty && nameDialog.inputPassword1.$invalid ? 'form-group has-error' : 'form-group'">
			<label for="inputPassword1" class="col-sm-2 control-label">Senha</label>
			<div class="col-sm-10">
				<input type="password" ng-model="user.password"
				ng-keyup="hitEnterPassword($event); $event.stopPropagation();" class="form-control" id="inputPassword1"
					name="inputPassword1" placeholder="Senha" ng-minlength="3" maxlength="255">
			</div>
		</div>
		<span class="help-block">
			Informe email / senha, ou utilize seu login do facebook ou google</span>
	</ng-form>

</div>
<div class="modal-footer">
	<span class="pull-left">
		<button type="button" class="btn btn-success" ng-click="facebook()">
			<b><i class="fa fa-facebook"></i></b> : facebook</button>
		<button type="button" class="btn btn-success" ng-click="google()">
			<b><i class="fa fa-google"></i></b> : google</button>
		</span>
	<span class="pull-right">
		<button type="button" class="btn btn-default" ng-click="cancel()">Cancela</button>
		<button type="button" class="btn btn-primary" ng-click="onOk()"> OK </button>
	</span>
</div>
