<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
	<strong class="font18">
		<i class="fa fa-star"></i> 
		<span data-ng-if="isRevalidate">Confirmação de login</span>
		<span data-ng-if="!isRevalidate && user.loginMode">Login</span>
		<span data-ng-if="!isRevalidate && !user.loginMode">Cadastre-se</span>
	</strong>

	<!-- class="help-block" -->
	<span class="hidden-xs" data-ng-if="!isRevalidate && user.loginMode"> :: Utilize suas contas ou um email</span>
	<span data-ng-if="!isRevalidate && !user.loginMode"> :: Cadastre um email ou retorne ao login</span>
	
</div>
<div class="modal-body">
		
	<ng-form name="nameDialog" class="form-horizontal" role="form">
	
		<div class="form-group" data-ng-show="user.loginMode">
			<label class="col-sm-3 control-label hidden-xs">login social</label>
			<span class="col-sm-4 col-xs-6">
				<button type="button" class="btn btn-success w100"
					ng-click="facebook()">
					<b><i class="fa fa-facebook"></i></b> | facebook
				</button>
			</span>
			<span class="col-sm-4 col-xs-6">
				<button type="button" class="btn btn-success w100"
					ng-click="google()">
					<b><i class="fa fa-google"></i></b> | google
				</button>
			</span>
		</div>
		
		<div ng-class="nameDialog.inputEmail3.$dirty && nameDialog.inputEmail3.$invalid ? 'form-group has-error' : 'form-group'">
			<label for="inputEmail3" class="col-sm-3 control-label">Email</label>
			<div class="col-sm-9">
				<input type="email" ng-model="user.name" ng-keyup="hitEnterUser($event);"
					id="inputEmail3" name="inputEmail3" class="form-control"
					data-ng-pattern="regexEmail"
					placeholder="Email" maxlength="255">
			</div>
		</div>
		<div ng-class="nameDialog.inputPassword3.$dirty && nameDialog.inputPassword3.$invalid ? 'form-group has-error' : 'form-group'">
			<label for="inputPassword3" class="col-sm-3 control-label">Senha</label>
			<div class="col-sm-9">
				<input type="password" ng-model="user.password"
				ng-keyup="hitEnterPassword($event); $event.stopPropagation();" class="form-control" id="inputPassword3"
					name="inputPassword3" placeholder="Senha" ng-minlength="3" maxlength="255">
			</div>
		</div>
		<div data-ng-if="!isRevalidate">
			<div data-ng-if="!user.loginMode" ng-class="nameDialog.inputPassword4.$dirty && nameDialog.inputPassword4.$invalid ? 'form-group has-error' : 'form-group'">
				<label for="inputPassword4" class="col-sm-3 control-label">Confirmação</label>
				<div class="col-sm-9">
					<input type="password" ng-model="user.password2"
					ng-keyup="hitEnterPassword2($event); $event.stopPropagation();" class="form-control" id="inputPassword4"
						name="inputPassword4" placeholder="Confirme a senha" ng-minlength="3" maxlength="255">
				</div>
			</div>
		</div>
		
		<div data-ng-if="!isRevalidate">
			<div class="form-group">
				<!-- <label class="col-sm-3 control-label">login social</label> -->
				<span class="col-sm-offset-3 col-sm-4 col-xs-6">
					<button type="button" class="btn btn-primary w100" ng-click="signin()">
					<span data-ng-if="user.loginMode">
						<span class="hidden-xs">Efetuar cadastro</span>
						<span class="visible-xs">cadastro</span>
					</span>
					<span data-ng-if="!user.loginMode">
						<span class="hidden-xs">Retornar ao Login</span>
						<span class="visible-xs">Login</span>
					</span>
					</button>
				</span>
				<span class="col-sm-4 col-xs-6">
					<button type="button" class="btn btn-link w100"
						data-ng-click="passwordRecover()" data-ng-if="user.loginMode">
						<span class="hidden-xs">esqueceu sua senha?</span>
						<span class="visible-xs">esqueceu?</span>
					</button>
				</span>
			</div>
		</div>
		
	</ng-form>

</div>
<div class="modal-footer">
	<div class="pull-right">
		<button type="button" class="btn btn-danger" ng-click="cancel()">Cancela</button>
		<button type="button" class="btn btn-primary" ng-click="onOk()"> OK </button>
	</div>
</div>
