<div class="col-xs-12">
	<ng-form name="frmAdm" class="form-horizontal" role="form">
		<div class="form-group">
			<label class="col-sm-3 control-label hidden-xs">shell</label>
			<span class="col-sm-4 col-xs-6">
				<a href="#/adm/shell">shell</a>
			</span>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label hidden-xs">env</label>
			<span class="col-sm-4 col-xs-6">
				<a href="#/adm/env">env</a>
			</span>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label hidden-xs">plnx</label>
			<span class="col-sm-4 col-xs-6">
				<a href="#/adm/plnx">plnx</a>
			</span>
		</div>
	</ng-form>
</div>
