<div class="col-xs-12">
	<ng-form name="frmPlnx" class="form-horizontal" role="form">
		<div class="form-group">
			<label class="col-sm-3 control-label hidden-xs">start</label>
			<button type="button" class="btn btn-primary" data-ng-click="onStartPlnx()"> start </button>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label hidden-xs">stop</label>
			<button type="button" class="btn btn-primary" data-ng-click="onStopPlnx()"> stop </button>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label hidden-xs">csv</label>
			<button type="button" class="btn btn-primary" data-ng-click="onCsvPlnx()"> csv </button>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label hidden-xs">push</label>
			<button type="button" class="btn btn-primary" data-ng-click="onPushPlnx()"> push </button>
		</div>
	</ng-form>
</div>