<div class="col-xs-12">
	<ng-form name="frmShell" class="form-horizontal" role="form">
		<div class="form-group">
			<label class="col-xs-1 control-label">cmd</label>
			<textarea class="col-xs-11" rows="15" data-ng-model="txtCmd">
			</textarea>
		</div>
		<div class="form-group">
			<label class="col-xs-1 control-label">exec</label>
			<div class="col-xs-2">
				<button type="button" class="btn btn-default" ng-click="execs()"> OK </button>
			</div>
		</div>

		<br />
		<span class="json-container">
		</span>

	</ng-form>
</div>
